extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class='img-fluid')
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel enim eu purus luctus tempor. Cras in felis tempus, pulvinar turpis non, dignissim erat. Nullam varius est libero, eget pretium eros commodo in. Sed neque ex, rhoncus at lacus ut, scelerisque vestibulum tortor. Phasellus at nulla vel ex euismod varius eget sed dolor. Duis sollicitudin quam maximus, consectetur velit ut, sagittis nisi. Nullam quam elit, dapibus porta est at, iaculis ornare metus. Nulla blandit consequat dolor vitae varius.
                 
                p Fusce faucibus porta efficitur. Vestibulum laoreet at mauris in congue. Vivamus fermentum nibh eu nibh feugiat convallis. Integer in dui pulvinar, commodo justo vel, vehicula lacus. Praesent dignissim, mauris ut rhoncus sollicitudin, turpis enim rhoncus sapien, eu tristique nisi arcu eu felis. Vestibulum nec leo et arcu blandit fermentum a eu dolor. Suspendisse est tellus, fringilla quis tellus vitae, molestie volutpat lorem. Donec fringilla iaculis sem interdum bibendum. Integer condimentum fringilla orci quis malesuada. Maecenas at imperdiet odio. Nulla vehicula dolor vitae nisl ultrices, vitae vulputate ipsum tincidunt. Morbi ac dolor non felis convallis varius quis nec arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi lacinia tortor eget quam sodales vulputate.
                
                p Nullam cursus turpis sit amet arcu dictum, sit amet posuere libero tempus. Proin accumsan hendrerit pellentesque. Maecenas dictum commodo elit non fringilla. Nullam accumsan lacus sem, eget luctus eros scelerisque et. Nam fermentum, velit eu imperdiet vestibulum, enim mauris ullamcorper turpis, in bibendum magna ante ut ante. Sed blandit risus in eros ornare, vel euismod purus hendrerit. Praesent eros odio, suscipit ac convallis in, fringilla ac tortor. Donec ut lorem quis arcu placerat venenatis. Nulla ut ipsum ut ante tempus consectetur. Aliquam a dictum magna. Phasellus in semper quam.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class = 'img-fluid mb-4')
                    h2.mb-4 Seguridad Garantizada
                    p  Venderemos tu información al mejor comprador

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class = 'img-fluid mb-4')
                    h2.mb-4 Mejores Destinos
                    p  A elegir entre la patagonia y mi corazón BB <3

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class = 'img-fluid mb-4')
                    h2.mb-4 Mejores precios
                    p  Del 1 al 10 de estafa piramidal, este es un 10